### Data Collection - Yelp

In [ ]:
import pandas as pd
import numpy as np
import requests
import random
import time
import re
import os, glob

import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('ggplot')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [ ]:
# https://www.yelp.com/developers/documentation/v3

In [ ]:
# import Yelp API credentials
import yelp_credentials

In [ ]:
client_id = yelp_credentials.client_id
api_key = yelp_credentials.api_key

In [ ]:
# query API for restaurant details - test

url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'Bearer {}'.format(api_key)}

params = {'term': 'restaurant', 
          'location': 'London SW19',
          'limit': 50}

In [ ]:
# fetch response data
response = requests.get(url=url, headers=headers, params=params, timeout=10)

In [ ]:
# check response headers
print(response.headers)

In [ ]:
# return response as JSON object
data_dict = response.json()
data_dict

In [ ]:
# convert to dataframe

restaurants = {'id':[],
               'alias':[],
               'name':[],
               'review_count':[],
               'cat_1':[],
               'cat_2':[],
               'cat_3':[],
               'cat_4':[],
               'cat_5':[],
               'rating':[],
               'longitude':[],
               'latitude':[],
               'transaction_1':[],
               'transaction_2':[],
               'transaction_3':[],
               'price':[],
               'address1':[],
               'address2':[],
               'address3':[],
               'city': [],
               'zip_code':[],
               'country':[]}

for item in data_dict['businesses']:
    try:
        restaurants['id'].append(item['id'])
    except:
        restaurants['id'].append(np.nan)
    try:
        restaurants['alias'].append(item['alias'])
    except:
        restaurants['alias'].append(np.nan)
    try:
        restaurants['name'].append(item['name'])
    except:
        restaurants['name'].append(np.nan)
    try:
        restaurants['review_count'].append(item['review_count'])
    except:
        restaurants['review_count'].append(np.nan)
    try:
        restaurants['cat_1'].append(item['categories'][0]['title'])
    except:
        restaurants['cat_1'].append(np.nan)
    try:
        restaurants['cat_2'].append(item['categories'][1]['title'])
    except:
        restaurants['cat_2'].append(np.nan)
    try:
        restaurants['cat_3'].append(item['categories'][2]['title'])
    except:
        restaurants['cat_3'].append(np.nan)
    try:
        restaurants['cat_4'].append(item['categories'][3]['title'])
    except:
        restaurants['cat_4'].append(np.nan)
    try:
        restaurants['cat_5'].append(item['categories'][4]['title'])
    except:
        restaurants['cat_5'].append(np.nan) 
    try:
        restaurants['rating'].append(item['rating'])
    except:
        restaurants['rating'].append(np.nan)
    try:
        restaurants['longitude'].append(item['coordinates']['longitude'])
    except:
        restaurants['longitude'].append(np.nan)    
    try:
        restaurants['latitude'].append(item['coordinates']['latitude'])
    except:
        restaurants['latitude'].append(np.nan)
    try:
        restaurants['transaction_1'].append(item['transactions'][0])
    except:
        restaurants['transaction_1'].append(np.nan)
    try:
        restaurants['transaction_2'].append(item['transactions'][1])
    except:
        restaurants['transaction_2'].append(np.nan)
    try:
        restaurants['transaction_3'].append(item['transactions'][2])
    except:
        restaurants['transaction_3'].append(np.nan)
    try:
        restaurants['price'].append(item['price'])
    except:
        restaurants['price'].append(np.nan)
    try:
        restaurants['address1'].append(item['location']['address1'])
    except:
        restaurants['address1'].append(np.nan)
    try:
        restaurants['address2'].append(item['location']['address2'])
    except:
        restaurants['address2'].append(np.nan)          
    try:
        restaurants['address3'].append(item['location']['address3'])
    except:
        restaurants['address3'].append(np.nan)     
    try:
        restaurants['city'].append(item['location']['city'])
    except:
        restaurants['city'].append(np.nan)     
    try:
        restaurants['zip_code'].append(item['location']['zip_code'])
    except:
        restaurants['zip_code'].append(np.nan) 
    try:
        restaurants['country'].append(item['location']['country'])
    except:
        restaurants['country'].append(np.nan)  
                
restaurants = pd.DataFrame(restaurants)
restaurants

In [ ]:
# define function to extract restaurant details from JSON and convert to dataframe

def convert_to_df(data_dict):

    restaurants = {'id':[],
                   'alias':[],
                   'name':[],
                   'review_count':[],
                   'cat_1':[],
                   'cat_2':[],
                   'cat_3':[],
                   'cat_4':[],
                   'cat_5':[],
                   'rating':[],
                   'longitude':[],
                   'latitude':[],
                   'transaction_1':[],
                   'transaction_2':[],
                   'transaction_3':[],
                   'price':[],
                   'address1':[],
                   'address2':[],
                   'address3':[],
                   'city': [],
                   'zip_code':[],
                   'country':[]}

    for item in data_dict['businesses']:
        try:
            restaurants['id'].append(item['id'])
        except:
            restaurants['id'].append(np.nan)
        try:
            restaurants['alias'].append(item['alias'])
        except:
            restaurants['alias'].append(np.nan)
        try:
            restaurants['name'].append(item['name'])
        except:
            restaurants['name'].append(np.nan)
        try:
            restaurants['review_count'].append(item['review_count'])
        except:
            restaurants['review_count'].append(np.nan)
        try:
            restaurants['cat_1'].append(item['categories'][0]['title'])
        except:
            restaurants['cat_1'].append(np.nan)
        try:
            restaurants['cat_2'].append(item['categories'][1]['title'])
        except:
            restaurants['cat_2'].append(np.nan)
        try:
            restaurants['cat_3'].append(item['categories'][2]['title'])
        except:
            restaurants['cat_3'].append(np.nan)
        try:
            restaurants['cat_4'].append(item['categories'][3]['title'])
        except:
            restaurants['cat_4'].append(np.nan)
        try:
            restaurants['cat_5'].append(item['categories'][4]['title'])
        except:
            restaurants['cat_5'].append(np.nan) 
        try:
            restaurants['rating'].append(item['rating'])
        except:
            restaurants['rating'].append(np.nan)
        try:
            restaurants['longitude'].append(item['coordinates']['longitude'])
        except:
            restaurants['longitude'].append(np.nan)    
        try:
            restaurants['latitude'].append(item['coordinates']['latitude'])
        except:
            restaurants['latitude'].append(np.nan)
        try:
            restaurants['transaction_1'].append(item['transactions'][0])
        except:
            restaurants['transaction_1'].append(np.nan)
        try:
            restaurants['transaction_2'].append(item['transactions'][1])
        except:
            restaurants['transaction_2'].append(np.nan)
        try:
            restaurants['transaction_3'].append(item['transactions'][2])
        except:
            restaurants['transaction_3'].append(np.nan)
        try:
            restaurants['price'].append(item['price'])
        except:
            restaurants['price'].append(np.nan)
        try:
            restaurants['address1'].append(item['location']['address1'])
        except:
            restaurants['address1'].append(np.nan)
        try:
            restaurants['address2'].append(item['location']['address2'])
        except:
            restaurants['address2'].append(np.nan)          
        try:
            restaurants['address3'].append(item['location']['address3'])
        except:
            restaurants['address3'].append(np.nan)     
        try:
            restaurants['city'].append(item['location']['city'])
        except:
            restaurants['city'].append(np.nan)     
        try:
            restaurants['zip_code'].append(item['location']['zip_code'])
        except:
            restaurants['zip_code'].append(np.nan) 
        try:
            restaurants['country'].append(item['location']['country'])
        except:
            restaurants['country'].append(np.nan)  
        
    restaurants = pd.DataFrame(restaurants)
    return restaurants

In [ ]:
# London postcodes

postcodes_lon = ['WC1', 'WC2', 'EC1', 'EC2', 'EC3', 'EC4',
                 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10',
                 'E11', 'E12', 'E13', 'E14', 'E15', 'E16', 'E17', 'E18', 'E20',
                 'N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10',
                 'N11', 'N12', 'N13', 'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N20',
                 'N21', 'N22', 'NW1', 'NW2', 'NW3', 'NW4', 'NW5', 'NW6', 'NW7', 
                 'NW8', 'NW9', 'NW10', 'NW11', 
                 'SE1', 'SE2', 'SE3', 'SE4', 'SE5', 'SE6', 'SE7', 'SE8', 'SE9', 
                 'SE10', 'SE11', 'SE12', 'SE13', 'SE14', 'SE15', 'SE16', 'SE17', 
                 'SE18', 'SE19', 'SE20', 'SE21', 'SE22', 'SE23', 'SE24', 'SE25',
                 'SE26', 'SE27', 'SE28',
                 'SW1', 'SW2', 'SW3', 'SW4', 'SW5', 'SW6', 'SW7', 'SW8', 'SW9',
                 'SW10', 'SW11', 'SW12', 'SW13', 'SW14', 'SW15', 'SW16', 
                 'SW17', 'SW18', 'SW19', 'SW20', 
                 'W1', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'W10',
                 'W11', 'W12', 'W13', 'W14',
                 'BR1', 'BR2', 'BR3', 'BR4', 'BR5', 'BR6', 'BR7',
                 'CR0', 'CR2', 'CR3', 'CR4', 'CR5', 'CR7', 'CR8', 'CR9', 
                 'DA1', 'DA5', 'DA6', 'DA7', 'DA8',
                 'EN1', 'EN2', 'EN3', 'EN4', 'EN5', 'EN8', 'EN9',
                 'HA0', 'HA1', 'HA2', 'HA3', 'HA4', 'HA5', 'HA6', 'HA7', 'HA8', 'HA9',
                 'IG1', 'IG2', 'IG3', 'IG4', 'IG5', 'IG6', 'IG7', 'IG8', 'IG9',
                 'KT1', 'KT2', 'KT3', 'KT4', 'KT5', 'KT6', 'KT8', 'KT9',
                 'RM1', 'RM2', 'RM3', 'RM4', 'RM5', 'RM6', 'RM7', 'RM8', 'RM9',
                 'SM1', 'SM2', 'SM3', 'SM4', 'SM5', 'SM6', 'SM7', 
                 'TW1', 'TW2', 'TW3', 'TW4', 'TW5', 'TW6', 'TW7', 'TW8', 'TW9',
                 'UB1', 'UB2', 'UB3', 'UB4', 'UB5', 'UB6', 'UB7', 'UB8', 'UB9']

In [ ]:
# Manchester postcodes

postcodes_man = ['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 
                 'M11', 'M12', 'M13', 'M14', 'M15', 'M16', 'M17', 'M18', 'M19', 'M20',
                 'M21', 'M22', 'M23', 'M24', 'M25', 'M26', 'M27', 'M28', 'M29', 'M30', 
                 'M31', 'M32', 'M33', 'M34', 'M35', 'M38', 'M40',
                 'M41', 'M43', 'M44', 'M45', 'M46', 'M50', 'M60', 'M61', 'M90', 'M99']

In [ ]:
# Liverpool postcodes

postcodes_liv = ['L1', 'L2', 'L3', 'L4', 'L5', 'L6', 'L7', 'L8', 'L9', 'L10', 
                 'L11', 'L12', 'L13', 'L14', 'L15', 'L16', 'L17', 'L18', 'L19', 'L20', 
                 'L21', 'L22', 'L23', 'L24', 'L25', 'L26', 'L27', 'L28', 'L29', 'L30', 
                 'L31', 'L32', 'L33', 'L34', 'L35', 'L36', 'L37', 'L38', 'L39', 'L40']

In [ ]:
# define postcodes for search parameters
postcodes = postcodes_lon

In [ ]:
# query API (multiple postcodes and result pages) and save to csv

url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'Bearer {}'.format(api_key)}

for postcode in postcodes:
    for offset in range(0, 600, 50):
        params = {'term': 'restaurant', 
                  'location': 'London {}'.format(postcode),
                  'locale': 'en_GB',
                  'offset': offset,
                  'limit': 50}
        response = requests.get(url=url, headers=headers, params=params, timeout=10)
        data_dict = response.json()
        df = convert_to_df(data_dict)
        df.to_csv('rest_lond_{}_{}.csv'.format(postcode, offset), index=True)

In [ ]:
# define different search terms
search_terms = ['restaurant', 'pub', 'takeaway', 'fast food', 'cafe']

In [ ]:
# define postcodes for search parameters
postcodes = postcodes_liv

In [ ]:
# query API (multiple search terms, postcodes and result pages) and save to csv

url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'Bearer {}'.format(api_key)}

for term in search_terms:
    for postcode in postcodes:
        for offset in range(0, 800, 50):
            params = {'term': term, 
                      'location': 'Liverpool {}'.format(postcode),
                      'radius': 10000,
                      'locale': 'en_GB',
                      'offset': offset,
                      'limit': 50}
            response = requests.get(url=url, headers=headers, params=params, timeout=10)
            data_dict = response.json()
            df = convert_to_df(data_dict)
            df.to_csv('rest_liv_{}_{}_{}.csv'.format(term, postcode, offset), index=True)

In [ ]:
# combine csv files

In [ ]:
path = '/Users/katjakrempel/Desktop/capstone/rest_data'

In [ ]:
all_files = glob.glob(os.path.join(path, 'rest_*.csv'))
df_from_file = (pd.read_csv(f) for f in all_files)
df_merged = pd.concat(df_from_file)
df_merged

In [ ]:
# drop 'Unnamed: 0' column
df_merged.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
# drop duplicates
df_merged.drop_duplicates(inplace=True)
df_merged

In [ ]:
# save dataframe to csv 
df_merged.to_csv('rest_all.csv', index=False)

In [ ]:
df = pd.read_csv('/Users/katjakrempel/Desktop/capstone/rest_all.csv')

In [ ]:
df.info()

### Join Yelp and FSA data sets

In [ ]:
# load FSA data
fsa = pd.read_csv('/Users/katjakrempel/Desktop/capstone/all_fsa.csv')

In [ ]:
# load Yelp data
yelp = pd.read_csv('/Users/katjakrempel/Desktop/capstone/rest_all.csv')

In [ ]:
fsa.info()

In [ ]:
yelp.info()

In [ ]:
# drop rows with missing values in longitude and latitude
# fsa = fsa.dropna(subset=['longitude', 'latitude'])

In [ ]:
# drop rows with missing values in longitude and latitude
# yelp = yelp.dropna(subset=['longitude', 'latitude'])

In [ ]:
# drop rows with missing values in BusinessName and PostCode
fsa = fsa.dropna(subset=['BusinessName', 'PostCode'])

In [ ]:
# drop rows with missing values in name and zip_code
yelp = yelp.dropna(subset=['name', 'zip_code'])

In [ ]:
# define function to remove prefix and special characters from restaurant name
def clean_name(name):
    if name.lower().startswith("the "):
        name = name[4:]
    return name.replace("&", "and").replace("'", "")

In [ ]:
# test function
# name = "The Fox & Anchor"
# name = "Nando's"
# clean_name(name)

In [ ]:
# clean restaurant names in FSA data set
fsa['BusinessName'] = fsa['BusinessName'].apply(clean_name)

In [ ]:
# clean restaurant names in Yelp data set
yelp['name'] = yelp['name'].apply(clean_name)

In [ ]:
# create unique identifier column in FSA data set
# fsa['geocode'] = fsa['longitude'].astype(str) + ", " + fsa['latitude'].astype(str)
fsa['name_postc'] = fsa['BusinessName'].str.lower() + ", " + fsa['PostCode'].str.lower()

In [ ]:
# create unique identifier column in Yelp data set
# yelp['geocode'] = yelp['longitude'].astype(str) + ", " + yelp['latitude'].astype(str)
yelp['name_postc'] = yelp['name'].str.lower() + ", " + yelp['zip_code'].str.lower()

In [ ]:
# join dataframes on geocode
# subset_geocode = pd.merge(fsa, yelp, on='geocode', how='inner')

In [ ]:
# subset_geocode.info()

In [ ]:
# subset_geocode[['BusinessName', 'AddressLine1', 'longitude_x', 'latitude_x', 'name', 'address1', 'longitude_y', 'latitude_y']][subset_geocode['city']=='London']

In [ ]:
# join dataframes on name and postcode
subset_name_postc = pd.merge(fsa, yelp, on=['name_postc'], how='inner')

In [ ]:
subset_name_postc.info()

In [ ]:
# save dataframe to csv 
subset_name_postc.to_csv('fsa_yelp_final.csv', index=False)

In [ ]:
df = pd.read_csv('/Users/katjakrempel/Desktop/capstone/fsa_yelp_final.csv')

In [ ]:
df.info()

In [ ]:
df.head()